

<div class="container text-center">
    <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i>Error</div>
    <h1 class="h2 mb-3">Sesión Expirada</h1>
    <div class="alert alert-warning text-center" role="alert">
        Lo sentimos, su sesión a expirado, por favor inicie sesión nuevamente&hellip;
    </div>    
    <a class="btn btn-danger" href="/Login/LoginNavautil">
        <i class="fe fe-log-out mr-2"></i>Iniciar Sesión
    </a>
    <br /><br />
</div>
